Package: com.greg0109.igspoofer
Name: IGSpoofer
Architecture: iphoneos-arm
Description: Fake stuff on instagram!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0
Installed-Size: 280
